@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans');

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Indie Flower', cursive;*/
  background: #F8F8FA;

}

a {
  text-decoration: none;
}
